@import (reference) '../../less/variables.less';

.pragma {
  padding-top: 100px;

  &__title {
    margin: 0 0 10px;
  }

  &__desc {
    margin: 0 0 14px;

    &:last-of-type {
      margin-bottom: 33px;
    }
  }

  &__image-container {
    position: relative;
    display: flex;
    width: 288px;
    height: 208px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  &__image {
    position: absolute;
    height: auto;
    display: flex;

    &--animate {
      top: 0;
      left: 0;
      clip-path: circle(100px at 50% 50%);
    }

    &--tube {
      top: calc(50% + 7px);
      left: calc(50% + 7px);
      transform: translate(-50%, -50%);
    }
  }

}

@media (min-width: @desktop) {
  .pragma {
    padding-top: 192px;
    padding-bottom: 50px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;  
    }

    &__text-content {
      width: 760px;
      margin-right: 36px;
      padding-top: 5px;
      padding-left: 6px;
    }

    &__title {
      margin: 0 0 29px;
    }

    &__desc {
      margin: 0;
      font-size: 20px;
      line-height: 26px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__image-container {
      flex-grow: 1;
      height: 370px;
      margin: 0;
    }

    &__image {
      position: absolute;
      width: 513px;
      height: 371px;
      display: flex;

      &--animate {
        left: 6px;
        clip-path: circle(180px at 50% 50%);
      }

      &--tube {
        width: 328px;
        height: 266px;
        top: calc(50% + 12px);
        left: calc(50% + 13px);
      }
    }
  }
}
