@import (reference) '../../less/variables.less';

.amount {
  min-height: 424px;
  padding-top: 101px;
  background: no-repeat linear-gradient(@main-peachy, @main-yellow);

  &__title {
    margin: 0 0 18px;
    text-align: center;
    color: @main-dark;
  }

  &__value {
    display: block;
    margin-bottom: 26px;
    font-family: "Montserrat", "Arial";
    font-weight: 900;
    font-size: 54px;
    font-style: italic;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
  }

  .amount__button {
    display: block;
    width: 224px;
    margin: 0 auto;
  }
}
