.bonus {
  padding-top: 68px;

  min-height: 815px;

  outline: 1px solid blue;

  &__title {
    margin-bottom: 10px;
  }

  &__desc {
    margin: 0 0 14px;

    &:last-of-type {
      margin-bottom: 32px;
    }
  }

  &__slider {
    height: 266px;
  }
}