@import (reference) '../../less/variables.less';

.hero {
  position: relative;
  min-height: 569px;
  padding-top: 104px;
  background-repeat: no-repeat;
  background-image: url('./hero-bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url('./hero-bg@2x.jpg');
  }

  &__video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(@main-dark, 0.6));
    }
  }

  &__video {
    width: 100%;
    height:  100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 100;
    overflow: hidden;
  }

  &__title {
    margin: 0 0 14px;
  } 
  
  &__lead {
    margin: 0 0 14px;

    &:last-of-type {
      margin-bottom: 34px;
    }
  }

  .hero__button {
    width: 224px;
  }
}

@media (min-width: @tablet) {
  .hero {
    min-height: 1026px;
    padding-top: 325px;
    background-image: url('./hero-bg-tablet.jpg');
    
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url('./hero-bg-tablet@2x.jpg');
    }

    &__title {
      margin: 0 0 41px;
    } 
    
    &__lead {
      margin: 0 0 24px;

      &:last-of-type {
        margin-bottom: 64px;
      }
    }

    .hero__button {
      width: 224px;
    }
  }
}

@media (min-width: @desktop) {
  .hero {
    min-height: 1080px;
    padding-top: 325px;
    background-image: url('./hero-bg-desktop.jpg');
    
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url('./hero-bg-desktop@2x.jpg');
    }

    &__title {
      margin: 0 0 41px;
    } 
    
    &__lead {
      margin: 0 0 24px;
      font-size: 20px;
      line-height: 26px;

      &:last-of-type {
        margin-bottom: 64px;
      }
    }

    .hero__button {
      width: 224px;
    }
  }
}
