@import (reference) '../../less/variables.less';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @main-dark;
  z-index: 200;

  &__bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px;
    background-color: @main-dark;
  }

  &__logo {
    position: relative;
    width: 69px;
    height: 50px;
    z-index: 10;
  }

  &__logo-icon {
    width: 100%;
    height: auto;
  }
}

@media (min-width: @desktop) {
  .header {
    width: 100%;
    transition: @transition;
    background-color: transparent;

    &__bar {
      max-width: 1384px;
      width: auto;
      margin: 0 auto;
      padding: 16px 34px;
      display: flex;
      justify-content: flex-start;
      background-color: transparent;
    }

    &__logo {
      width: 78px;
      height: 56px;
      margin-right: auto;
    }

    &--scrolled {
      transition: @transition;
      background-color: @main-dark;
    }
  }
}
