@import (reference) '../../less/variables.less';

.advantages {
  padding-top: 100px;
  padding-bottom: 95px;

  &__title {
    margin: 0 0 37px;
    text-align: center;
  }

  &__list {
    margin-bottom: 38px;
  }

  &__advantage {
    min-height: 308px;
    margin: 0 auto 32px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__lead {
    margin-bottom: 14px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }

  .advantages__button {
    display: block;
    width: 224px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop) {

  .advantages {
    padding-top: 197px;
    padding-bottom: 147px;

    &__title {
      position: relative;
      left: -45px;
      margin: 0 0 60px;
      text-align: center;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-bottom: 68px;
    }

    &__advantage {
      margin: 0;
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__lead {
      width: 760px;
      margin: 0 auto 42px;
      font-size: 20px;
      line-height: 26px;

      &:last-of-type {
        margin-bottom: 65px;
      }
    }
  }
}